.vscode
.gitignore
.github
tsconfig.base.json
**/tsconfig.json
**/*.tsbuildinfo
.dccache
.dcignore
.eslintrc.json
.prettierrc.json
setup_dev.mjs
**/webpack.config.js
build
test
**/src
**/*.ts
**/*.map
**/node_modules
