.vscode/**
.gitignore
tsconfig.base.json
**/tsconfig.json
tslint.json
test/**
**/*.ts
**/*.map
client/node_modules/**
!client/node_modules/vscode-jsonrpc/**
!client/node_modules/vscode-languageclient/**
!client/node_modules/vscode-languageserver-protocol/**
!client/node_modules/vscode-languageserver-types/**
server/node_modules/@types/**
server/node_modules/tar-fs/test/**
