.vscode
.gitignore
tsconfig.base.json
**/tsconfig.json
**/*.tsbuildinfo
tslint.json
.eslintrc.json
.prettierrc.json
setup_dev.js
**/webpack.config.js
build
test
**/src
**/*.ts
**/*.map
**/node_modules
